<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Rewrite _next to .next for static file serving -->
        <rule name="RewriteNextDirectory" stopProcessing="false">
          <match url="^_next/(.*)" />
          <action type="Rewrite" url=".next/{R:1}" />
        </rule>
        <!-- Serve static files directly from file system -->
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^\.next/static/.*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        <!-- Proxy dynamic requests to Node.js -->
        <rule name="ProxyToNode" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://localhost:3000/{R:0}" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
    <!-- Enable static file serving -->
    <staticContent>
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
    </staticContent>
  </system.webServer>
</configuration>