<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Clear parent configuration to prevent inheritance -->
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- Clear any inherited modules -->
      <modules>
        <clear />
        <add name="HttpRedirectionModule" />
        <add name="StaticFileModule" />
        <add name="RewriteModule" />
      </modules>
      
      <!-- Clear any inherited handlers -->
      <handlers>
        <clear />
        <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
      </handlers>
      
      <!-- Disable authentication -->
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>
      
      <!-- URL Rewrite rules -->
      <rewrite>
        <rules>
          <clear /> <!-- Clear inherited rules -->
          <!-- Proxy all requests to Node.js -->
          <rule name="ProxyToNode" stopProcessing="true">
            <match url="(.*)" />
            <action type="Rewrite" url="http://localhost:3000/{R:0}" />
          </rule>
        </rules>
      </rewrite>
      
      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>
  
  <!-- Explicitly prevent inheritance -->
  <system.web>
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
</configuration>